<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <value>classpath:config.properties</value>
        </property>
    </bean>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!-- 指定连接数据库的驱动 -->
        <property name="driverClass" value="${c3p0.driverClass}"/>
        <!-- 指定连接数据库的URL -->
        <property name="jdbcUrl" value="${c3p0.url}"/>
        <!-- 指定连接数据库的用户名 -->
        <property name="user" value="${c3p0.username}"/>
        <!-- 指定连接数据库的密码 -->
        <property name="password" value="${c3p0.password}"/>
        <!-- 指定连接数据库连接池的最大连接数 -->
        <property name="maxPoolSize" value="${c3p0.maxPoolSize}"/>
        <!-- 指定连接数据库连接池的最小连接数 -->
        <property name="minPoolSize" value="${c3p0.minPoolSize}"/>
        <!-- 指定连接数据库连接池的初始化连接数 -->
        <property name="initialPoolSize" value="${c3p0.initialPoolSize}"/>
        <!-- 指定连接数据库连接池的连接的最大空闲时间 -->
        <property name="maxIdleTime" value="${c3p0.maxIdleTime}"/>
        <property name="maxStatements" value="${c3p0.maxStatements}"/>
        <property name="idleConnectionTestPeriod" value="${c3p0.idleConnectionTestPeriod}"/>
        <property name="acquireRetryAttempts" value="${c3p0.acquireRetryAttempts}"/>
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.connection.url">jdbc:mysql://139.129.48.182:3306/find</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
            </props>
        </property>
        <property name="packagesToScan">
            <list>
                <value>com.cuiods.find.dao</value>
            </list>
        </property>
        <!--<property name="annotatedClasses">-->
            <!--<list>-->
                <!--<value>edu.nju.entity.SecContributorEntity</value>-->
                <!--<value>edu.nju.entity.SecRegisterLabelEntity</value>-->
                <!--<value>edu.nju.entity.SecRepoEntity</value>-->
                <!--<value>edu.nju.entity.SecRepoLabelEntity</value>-->
                <!--<value>edu.nju.entity.SecStarEntity</value>-->
                <!--<value>edu.nju.entity.SecSubscriberEntity</value>-->
                <!--<value>edu.nju.entity.SecUserEntity</value>-->
                <!--<value>edu.nju.entity.UserCountryEntity</value>-->
                <!--<value>edu.nju.entity.UserLocationEntity</value>-->
                <!--<value>edu.nju.entity.CommentsEntity</value>-->
                <!--<value>edu.nju.entity.NewsEntity</value>-->
            <!--</list>-->
        <!--</property>-->
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

</beans>