body {
    background: url("../img/background.jpg") no-repeat fixed center 0;
    background-size: cover;
    -webkit-background-size: cover;
}

.upload {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%
}

.explain h2{
    font-size: 2em;
    color: #c9302c;
}

.explain p{
    font-size: 1.2em;
}